<h1>Edit your Listing</h1>

<form class="listing-form listing-new-form">
		<!-- consider refactoring each into separate subviews -->
		
		<h3>Display Info</h3>
		
			<article class="title group">
			  <label for="listing-title">Title: </label>
			  <input type="text" name="title" id="listing-title"
					value="<%= listing.escape("title") %>">
			</article>
			
			<article class="description group">
			  <label for="listing-description">Description: </label>
			  <textarea name="description" id="listing-description"><%= listing.escape("description") %></textarea>
			</article>
			
			<article class="cover-pic group">
				<label for="listing-pic">Cover Photo: </label>
				<input type="file" name="cover_pic" id="listing-pic">
			</article>
			
			<article class="pics group">
				<label for="add-pics">Additional Photos: </label>
				<input type="file" name="photos" id="add-pics" multiple>
			</article>
			
		<h3>Basic Info</h3>
	
			<article class="city group">
			  <label for="listing-city">City: </label>
			  <input type="text" name="city" id="listing-city" list="cities"
					value="<%= listing.escape("city") %>">
			  <datalist id="cities">
					<!-- readlines from us-zips to get all US cities -->
			    <option value="New York">
			    <option value="Chicago">
			    <option value="Los Angeles">
			  </datalist>
			</article>
		
			<article class="home-type group">
			  <label for="listing-home-type">Type of Home: </label>
			  <select name="home_type" id="listing-home-type">
			    <option value="apartment"
						<% if (listing.escape("home_type") === "apartment") { %>
							<%= "selected" %>
						<% } %>>
						Apartment
					</option>
			    <option value="house"
						<% if (listing.escape("home_type") === "house") { %>
							<%= "selected" %>
						<% } %>>
						House
					</option>
			    <option value="mansion"
						<% if (listing.escape("home_type") === "mansion") { %>
							<%= "selected" %>
						<% } %>>
							Mansion
						</option>
			    <option value="cave"
						<% if (listing.escape("home_type") === "cave") { %>
							<%= "selected" %>
						<% } %>>
							Cave
						</option>
			  </select>
			</article>
		
			<article class="room-type group">
			  <label for="listing-room-type">Type of Room: </label>
			  <select name="room_type" id="listing-room-type">
			    <option value="shared"
					<% if (listing.escape("room_type") === "shared") { %>
						<%= "selected" %>
					<% } %>>
			      Shared Room
			    </option>
			    <option value="private"
					<% if (listing.escape("room_type") === "private") { %>
						<%= "selected" %>
					<% } %>>
			      Private Room
			    </option>
			    <option value="whole"
					<% if (listing.escape("room_type") === "whole") { %>
						<%= "selected" %>
					<% } %>>
			      Whole Place
			    </option>
			  </select>
		  </article>
		
			<article class="accommodates group">
			  <label for="listing-accomodates">Accommodates: </label>
			  <input type="number" name="accomodates" id="listing-accomodates"
					value="<%= listing.escape("accomodates") %>">
			</article>
		
			<article class="term group">
				<label>Term: </label>
			  <input type="radio" name="term" value="short" id="short-term"
					<% if (listing.escape("term") === "short") { %>
						<%= "checked" %>
					<% } %>>
			  <input type="radio" name="term" value="long" id="long-term"
					<% if (listing.escape("term") === "long") { %>
						<%= "checked" %>
					<% } %>>
			</article>
		
			<article class="price group">
			  <label for="listing-price">Price (USD): </label>
			  <input type="text" name="price" id="listing-price"
					value="<%= listing.escape("price") %>">
			</article>

		  <article class="address group">
				<label for="listing-address">Street Address: </label>
				<input type="text" name="address" id="listing-address"
					value="<%= listing.escape("address") %>">
			</article>
		
		<h3>Amenities</h3>
			<div class="amenity-wrapper">
				<input type="checkbox" value="true" id="amen-essentials" name="essentials"
					<% if (listing.get("amenities").indexOf("Essentials") > -1) { %>
						<%= "checked" %>
					<% } %>>
				<label for="amen-essentials">Essentials</label>
			</div>
			
			<div class="amenity-wrapper">
				<input type="checkbox" value="true" id="amen-tv" name="tv"
					<% if (listing.get("amenities").indexOf("Television") > -1) { %>
						<%= "checked" %>
					<% } %>>
				<label for="amen-tv">Television</label>
			</div>
			
			<div class="amenity-wrapper">
				<input type="checkbox" value="true" id="amen-cable" name="cable"
					<% if (listing.get("amenities").indexOf("Cable TV") > -1) { %>
						<%= "checked" %>
					<% } %>>
				<label for="amen-cable">Cable TV</label>
			</div>
			
			<div class="amenity-wrapper">
				<input type="checkbox" value="true" id="amen-ac" name="ac"
					<% if (listing.get("amenities").indexOf("Air Conditioning") > -1) { %>
						<%= "checked" %>
					<% } %>>
				<label for="amen-ac">Air Conditioning</label>
			</div>
			
			<div class="amenity-wrapper">
				<input type="checkbox" value="true" id="amen-heat" name="heat"
					<% if (listing.get("amenities").indexOf("Heat") > -1) { %>
						<%= "checked" %>
					<% } %>>
				<label for="amen-heat">Heat</label>
			</div>
			
			<div class="amenity-wrapper">
				<input type="checkbox" value="true" id="amen-kitchen" name="kitchen"
					<% if (listing.get("amenities").indexOf("Kitchen") > -1) { %>
						<%= "checked" %>
					<% } %>>
				<label for="amen-kitchen">Kitchen</label>
			</div>
			
			<div class="amenity-wrapper">
				<input type="checkbox" value="true" id="amen-internet" name="internet"
					<% if (listing.get("amenities").indexOf("Wired Internet") > -1) { %>
						<%= "checked" %>
					<% } %>>
				<label for="amen-wifi">Wired Internet</label>
			</div>
			
			<div class="amenity-wrapper">
				<input type="checkbox" value="true" id="amen-wifi" name="wifi"
					<% if (listing.get("amenities").indexOf("WiFi") > -1) { %>
						<%= "checked" %>
					<% } %>>
				<label for="amen-wifi">WiFi</label>
			</div>
	
  <button class="save-button">Update Listing</button>
	
	<button class="deactivate-button">Deactivate Listing</button>

</form>