<!-- Hidden form inputs carry over search params from prev. page -->

<strong>Dates:</strong>
<article class="dates group">
	<div class="start">
		<input type="date" id="listing-start" value="<%= listings.params().start %>"
					 name="start">
		<label for="listing-start">Start Date</label>
	 </div>
	 
	 <div class="end">
		<input type="date" id="listing-end" value="<%= listings.params().end %>"
					 name="end">
	 <label for="listing-end">End Date</label>
	 </div>
</article>

<strong>Room:</strong>
<article class="room group">
	<input type="radio" name="room_type" value="whole" id="room-type-whole"
	       <% if(listings.params().room_type === "whole") { %>
					 <%= "checked" %> 
				 <% } %>>

	<input type="radio" name="room_type" value="private" id="room-type-private"
	       <% if(listings.params().room_type === "private") { %>
					 <%= "checked" %> 
				 <% } %>>

	<input type="radio" name="room_type" value="shared" id="room-type-shared"
	       <% if(listings.params().room_type === "shared") { %>
					 <%= "checked" %> 
				 <% } %>>
</article>

<strong>Price:</strong>
<article class="price group">
	<div class="price-low"></div>
	<div class="price-slider"></div>
	<div class="price-high"></div>
</article>

<input type="number" placeholder="Low Price"
       name="low_price" value="<%= listings.params().low_price %>">
<input type="number" placeholder="High Price"
       name="high_price" value="<%= listings.params().high_price %>">
<br>
</article>
