<!-- Hidden form inputs carry over search params from prev. page -->
<input type="hidden" value="<%= listings.params().term %>" name="term">
<input type="hidden" value="<%= listings.params().city %>" name="city">
<input type="hidden" name="accomodates" 
			 value="<%= listings.params().accomodates %>">

<strong>Dates:</strong>
<label for="listing-start">Start Date</label>
<input type="date" id="listing-start" value="<%= listings.params().start %>"
			 name="start">

<label for="listing-end">End Date</label>
<input type="date" id="listing-end" value="<%= listings.params().end %>"
			 name="end">
<br>

<strong>Room:</strong>
<label for="room-type-whole">Whole Apt/Home</label>
<input type="radio" name="room_type" value="whole" id="room-type-whole"
       <% if(listings.params().room_type === "whole") { %>
				 <%= "checked" %> 
			 <% } %>>

<label for="room-type-private">Private Room</label>
<input type="radio" name="room_type" value="private" id="room-type-private"
       <% if(listings.params().room_type === "private") { %>
				 <%= "checked" %> 
			 <% } %>>

<label for="room-type-shared">Shared Room</label>
<input type="radio" name="room_type" value="shared" id="room-type-shared"
       <% if(listings.params().room_type === "shared") { %>
				 <%= "checked" %> 
			 <% } %>>
<br>

<strong>Price:</strong>
<input type="number" placeholder="Low Price"
       name="low_price" value="<%= listings.params().low_price %>">
<input type="number" placeholder="High Price"
       name="high_price" value="<%= listings.params().high_price %>">
<br>

<div class="price-slider"></div>

<button>Filter</button>
