<section class="listing-head group">
	<div class="user-block">
		
		<a class="prof-link" href="#/users/<%= user.get("id") %>">
			<p><%= user.escape("fname") %></p>
			<img src="<%= user.escape("avatar_small") %>">
		</a>
		<a class="contact-link" href="#">contact</a>
	</div>
	
	
	<div class="basic-info">
		<h3 class="listing-title"><%= listing.escape("title") %></h3>
		<p class="listing-info"><%= listing.escape("home_type") %> in <%= listing.escape("city") %> |
			Accommodates <%= listing.escape("accomodates") %></p>
		<p class="score">Average Score: #</p>
	</div>
	
	<div class="request-container">
		<% var price_per = listing.get("term") === "long" ? "/month" : "/day" %>
		<p>Price: $<%= listing.escape("price") %><%= price_per %></p>
		<form class="request-form">
			<div class="start group">
				<label for="booking-start">Check In</label>
			  <input type="date" name="start_date" id="booking-start">
			</div>
			
			<div class="end group">
			  <label for="booking-end">Check Out</label>
			  <input type="date" name="end_date" id="booking-end">
			</div>
			
			<input type="hidden" name="listing_id" value="<%= listing.id %>">
			
			<button>Request</button>
		</form>			
	</div>
</section>

<section class="listing-main group">
	<section class="listing-basics">
		<h3>About This Listing</h3>
	
		<article class="unavailable-list">
			<h4>Dates Unavailable</h4>
			<% if(listing.get("unavailable_ranges") && listing.get("unavailable_ranges").count > 0) { %>
			<ul>
				<% listing.get("unavailable_ranges").forEach(function(range) { %>
					<li><%= range.start_date %> - <%= range.end_date %></li>
				<% }) %>
			</ul>
			<% } else { %>
				None! All dates are available.
			<% } %>
		</article>
	
		<article class="description">
				<h4>Description</h4>
				<% if(listing.escape("description")) { %>
					<p><%= listing.escape("description") %></p>
				<% } else { %>
					<p>There is no description for this listing.</p>
				<% } %>
		</article>
	
	</section>
	
	<article class="photo-gallery">
		<% if (listing.get("pictures") && listing.get("pictures").length > 0) { %>
			<div class="jcarousel">
				<ul class="group">
					<% listing.get("pictures").forEach(function(photo) { %>
						<li><img src="<%= photo.url %>"></li>
					<% }); %>
				</ul>
			<% } else { %>
				<p>No images available.</p>
			<% } %>
		</div>
		
    <a class="jcarousel-prev" href="#">‹</a>
    <div class="jcarousel-pagination"></div>
    <a class="jcarousel-next" href="#">›</a>
	</article>
	
	<section class="listing-details">
	
		<article class="more-info">
			<h3>More Info</h3>
			<table>
				<tr>
					<th>Room Type:</th>
					<td><%= listing.escape("room_type") %></td>
				</tr>
				<tr>
					<th>Home Type:</th>
					<td><%= listing.escape("home_type") %></td>
				</tr>
				<tr class="amenities-row">
					
					<th>Amenities:</th>
					<td>
						<% if (listing.get("amenities")) { %>
						<ul class="amenity-list">
							<% listing.get("amenities").forEach(function(amenity) { %>
								<li><%= amenity %></li>
							<% }); %>
						</ul>
						<% } else { %>
							None
						<% }; %>
					</td>
				</tr>
			</table>
		</article>
	</section>
						
</section>