<h1>List your Space!</h1>

<form action="<%= listings_url %>" method="POST">
  <%= auth_token %>

  <label for="listing-title">Title</label>
  <input type="text" name="listing[title]" value="<%= @listing.title %>"
         id="listing-title">

   <br>

  <label for="listing-city">City</label>
  <input type="text" name="listing[city]" value="<%= @listing.city %>"
         id="listing-city" list="cities">
  <datalist id="cities">
    <option value="New York, United States">
    <option value="Chicago, United States">
    <option value="Los Angeles, United States">
    <option value="Tokyo, Japan">
  </datalist>

  <br>

  <label for="listing-home-type">Type of Home</label>
  <select name="listing[home_type]" id="listing-home-type">
    <option value="apartment">Apartment</option>
    <option value="house">House</option>
    <option value="mansion">Mansion</option>
    <option value="cave">Cave</option>
  </select>

  <br>

  <label for="listing-room-type">Type of Room</label>
  <select name="listing[room_type]" id="listing-room-type">
    <option value="shared" <%="selected" if @listing.room_type == "shared" %>>
      Shared Room
    </option>
    <option value="private" <%="selected" if @listing.room_type == "private" %>>
      Private Room
    </option>
    <option value="whole" <%="selected" if @listing.room_type == "whole" %>>
      Whole Place
    </option>
  </select>

  <br>

  <label for="listing-accomodates">Accomodates: </label>
  <input type="number" name="listing[accomodates]" id="listing-accomodates"
         value="<%= @listing.accomodates %>">

  <br>

  <label for="short-term">Short Term</label>
  <input type="radio" name="listing[term]" value="short" id="short-term"
        <%= "checked" if @listing.term == "short" %>>
  <label for="long-term">Long Term</label>
  <input type="radio" name="listing[term]" value="long" id="long-term"
        <%= "checked" if @listing.term == "long" %>>

  <br>

  <label for="listing-price">*Price: </label>
  <input type="text" name="listing[price]" value="<%= @listing.price %>"
         id="listing-price">

  <br>
  <small>* Per day if short-term, per month if long-term</small>
  <br>

  <button>Create Listing</button>

</form>