<section class="listing-head">
	<div class="user-block">
		<%= @listing.user.fname %>
		<a href="<%= user_url(@listing.user) %>">
			<%= image_tag @listing.user.avatar.url(:small) %>
		</a>
		<a href="#">contact</a>
	</div>
	
	<div class="basic-info">
		<h3 class="listing-title"><%= @listing.title %></h4>
		<p class="listing-info"><%= @listing.home_type.capitalize %> |
			Accomodates <%= @listing.accomodates %></p>
		<p class="score">Average Score: #</p>
	</div>
	
	<div class="request-form">
		<% price_per = @listing.term == "long" ? "per month" : "per day" %>
		<p>Price: $<%= @listing.price %></p>
		<form action="<%= bookings_url %>" method="POST">
			<%= auth_token %>
			
		  <label for="booking-start">Check In</label>
		  <input type="date" name="booking[start_date]" id="booking-start">
			<br>

		  <label for="booking-end">Check Out</label>
		  <input type="date" name="booking[end_date]" id="booking-end">
			<br>
			
			<input type="hidden" name="booking[listing_id]" value="<%= @listing.id %>">
			
			<button>Request</button>
		</form>			
	</div>
</section>

<section class="listing-main">
	<h3>About This Listing</h3>
	
	<article class="unavailable-list">
		<p>Dates Unavailable</p>
		<ul>
			<% @listing.bookings.approved.concat(@listing.unavailable_ranges).each do |obj| %>
			
				<li><%= obj.start_date %> - <%= obj.end_date %></li>
			<% end %>
		</ul>
	</article>
	
	<article class="description">
		<% if @listing.description %>
			<p><%= @listing.description %></p>
		<% else %>
			<p>There is no description for this listing.</p>
	<% end %>
	</article>
	
	<article class="photo-galery">
		Photos go here!
	</div>
	
	<article class="more-info">
		<h3>More Info</h3>
		<table>
			<tr>
				<td>Room Type</td>
				<td><%= @listing.room_type.titleize %></td>
			</tr>
			<tr>
				<td>Home Type</td>
				<td><%= @listing.home_type.titleize %></td>
			</tr>
			<% if @listing.amenities.any? %>
			<tr>
				<td>Amenities</td>
				<td><ul>
					<% @listing.amenities.each do |amenity| %>
						<li><%= amenity.name %></li>
					<% end %>
				</ul></td>
			</tr>
			<% end %>
		</table>
	</article>
						
</section>