<section class="my-listings-toggler">
	<ul>
		<li><a href="<%= my_listings_url %>">My Listings</a></li>
		<li>My Booking Requests</li>
	</ul>
</section>

<section class="my-listings-list group">
	<% if @bookings.any? %>
		<ul>
			<% @bookings.each do |booking| %>
				<li><%= booking.user.fname %> | Dates requested:	<%= booking.start_date %> - <%= booking.end_date %></li>
				<% if booking.pending? %>
					<li>
						<%= button_to "Approve", approve_booking_url(booking), method: :patch %>
						<%= button_to "Deny", deny_booking_url(booking), method: :patch %>
					</li>
				<% elsif booking.approved? %>
					<li>Approved</li>
				<% elsif booking.denied? %>
					<li>Denied</li>
				<% end %>
			<% end %>
		</ul>
	<% else %>
		<p>Your listings have no outstanding requests.</p>
	<% end %>
</section>