<h3><%= conversation.escape("title") %></h3>

<button class="new-message">New Message</button>

<section class="message-list">
	<ul>
	<% conversation.messages().each(function(message) { %>
		<li>
			<article class="message">
				<section class="message-user-box">
					<% var user = AirNZG.users.getOrFetch(message.escape("author_id")) %>
					<p><%= user.escape("fname") %></p>
					<a href="<%= '#/users/' + user.id %>">
						<img src="<%= user.escape("avatar_thumb") %>">
					</a>
				</section>
				<section class="content">
					<h4><%= message.escape("subject") %></h4>
					<p><%= message.escape("content") %></p>
				</section>
			</article>
		</li>
	<% }) %>
	</ul>
</section>
