<a href="#" class="logo"></a>

<ul class="header-nav group">
	<li class="user-info">
		<a href="<%= '#/users/' + user.id %>" >
			<%= user.escape("fname") %>
		</a>

		<img src="<%= user.escape("avatar_thumb") %>">

	   <ul class="dropdown">
	     <li><a href="#/my_listings">
				Your Listings
			</a></li>
	     <li><a href="#/my_booking_requests">
				Your Booking Requests
			</a></li>
	     <li><a href="#/wishlist">
				Your Wishlist
			</a></li>
	     <li><a href="#/users/<%= user.id %>/edit">
				Edit Profile
			</a></li>
	    <li><a href="#" class="sign-out-link">
				Sign Out
			</a></li>
	   </ul>

		<div class="invis"></div>

		<li class="notifications">
	   	<a href="#">Notifications</a>
			<ul class="dropdown">
				<% user.get("notifications").forEach(function(notification) { %>
					<li>
						<a href="<%= notification.url %>" class="notif" 
							data-id="<%= notification.id %>">
							<%= AirNZG.Utils.escapeHTML(notification.text) %>
						</a>
					</li>
				<% }); %>
			</ul>
		</li>

		<div class="notif-num">
			<%= user.escape("notification_num") %>
		</div>

	   <li class="messages">
			<a href="#/conversations">Conversations</a>
		</li>

		<li class="new-listing">
	     <a href="#/listings/new">New Listing</a>
		</li>
	</li>
</ul>

