<!DOCTYPE html>
<html>
<head>
  <title>AirNZG</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
	
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.css' rel='stylesheet' />
</head>
<body>

  <header class="group">
    <a href="<%= home_url %>" class="logo">AirNZG</a>

    <nav class="header-nav group">

      <% if signed_in? %>
	      <article class="user-info">
					<a href="#">
						<article>
							<%= current_user.fname %>
						</article>
						<figure class="user-thumbnail">
							<%= image_tag current_user.avatar.url(:thumb) %>
						</figure>
					</a>
					<div class="invis"></div>
	        <ul class="dropdown">
	          <li><a href="<%= my_listings_url %>">
							Your Listings
						</a></li>
	          <li><a href="<%= my_booking_requests_url %>">
							Your Booking Requests
						</a></li>
	          <li><a href="#">
							Your Wishlist
						</a></li>
	          <li><a href="<%= edit_user_url(current_user) %>">
							Edit Profile
						</a></li>
	          <li><a href="#">
							Account
						</a></li>
	          <li>
							<%= link_to 'Log Out', session_url, 
							method: :delete %>
						</li>
	        </ul>
	      </article>
				
				<article class="notifications">
	      	<a href="#">Notifications</a> 
					<div class="notif-num">
						<%= current_user.notifications.size %>
					</div>
					<ul class="dropdown">
						<%= render partial: "notifications/notification", 
						collection: current_user.notifications %>
					</ul>
				</article>
			
	      <article class="messages">
					<a href="#">Messages</a>
				</article>
			
				<article class="new-listing">
	        <a href="<%= new_listing_url %>">New Listing</a>
				</article>
				
      <% else %>
        <a href="<%= new_session_url %>">Sign In</a>
        <a href="<%= new_user_url %>">Sign Up</a>
      <% end %>

    </nav>
  </header>
	
	
	
	<span class="notice-bar">
    <% if !!flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <% if !!flash[:errors] %>
      <ul class="errors">
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
	</span>

  <main class="group">
    <%= yield %>
  </main>
	
</body>
</html>


