<!DOCTYPE html>
<html>
<head>
  <title>AirNZG</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="group">
    <a href="<%= home_url %>" class="logo">AirNZG</a>

    <nav class="header-nav group">

      <% if signed_in? %>
        <span class="user-info"><%= current_user.fname %>
					<div class="invis"></div>
          <ul class="dropdown">
            <li><a href="<%= my_listings_url %>">Your Listings</a></li>
            <li><a href="<%= my_booking_requests_url %>">Your Booking Requests</a></li>
            <li><a href="#">Your Wishlist</a></li>
            <li><a href="<%= edit_user_url(current_user) %>">Edit Profile</a></li>
            <li><a href="#">Account</a></li>
            <li><%= link_to 'Log Out', session_url, method: :delete %></li>
          </ul>
        </span>
				<%= image_tag current_user.avatar.url(:thumb) %>
        <a href="#">Messages</a>
        <a href="#">Notifications</a>
        <a href="<%= new_listing_url %>">New Listing</a>
      <% else %>
        <a href="<%= new_session_url %>">Sign In</a>
        <a href="<%= new_user_url %>">Sign Up</a>
        <a href="#">Help</a>
      <% end %>

    </nav>
  </header>

  <main>

    <% if !!flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <% if !!flash[:errors] %>
      <ul class="errors">
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>

    <%= yield %>
  </main>
</body>
</html>
