<!DOCTYPE html>
<html>
	<head>
	  <title>AirNZG</title>
	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= javascript_include_tag 'application' %>
		<%= favicon_link_tag 'favicon.ico' %>
	  <%= csrf_meta_tags %>
	
		<script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.css' rel='stylesheet' />
	</head>
	<body>
	  <header class="group">
	  </header>
		
		<div class="loading-main"></div>
		
		<div class="modal-screen"></div>
		<div class="modal-card"></div>
		
		<span class="notice-bar">
	    <% if !!flash[:notice] %>
	      <div class="notice"><%= flash[:notice] %></div>
	    <% end %>
		</span>
		
		<span class="error-bar">
	    <% if !!flash[:errors] %>
	      <ul class="errors">
	        <% flash[:errors].each do |error| %>
	          <li><%= error %></li>
	        <% end %>
	      </ul>
	    <% end %>
		</span>
		
	  <main class="main-content group">
	    <%= yield %>
		</main>
	
	</body>
</html>


