<!DOCTYPE html>
<html>
<head>
  <title>AirNZG</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
	<%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
	
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.css' rel='stylesheet' />
</head>
<body>

  <header class="group">
    <a href="<%= home_url %>" class="logo"></a>

    <ul class="header-nav group">

      <% if signed_in? %>
	      <li class="user-info">
						<a href="#">
							<%= current_user.fname %>
						</a>
						
						<%= image_tag current_user.avatar.url(:thumb) %>
						
		        <ul class="dropdown">
		          <li><a href="#/my_listings">
								Your Listings
							</a></li>
		          <li><a href="#/my_booking_requests">
								Your Booking Requests
							</a></li>
		          <li><a href="#/wishlist">
								Your Wishlist
							</a></li>
		          <li><a href="#/users/:id/edit">
								Edit Profile
							</a></li>
		          <li>
								<%= link_to 'Log Out', session_url, 
								method: :delete %>
							</li>
		        </ul>
						
					<div class="invis"></div>
	        
				</li>
				
				<li class="notifications">
	      	<a href="#">Notifications</a> 
					<ul class="dropdown">
						<%= render partial: "notifications/notification", 
						collection: current_user.notifications %>
					</ul>
				</li>
				
				<div class="notif-num">
					<%= current_user.notifications.size %>
				</div>
			
	      <li class="messages">
					<a href="#">Messages</a>
				</li>
			
				<li class="new-listing">
	        <a href="<%= new_listing_url %>">New Listing</a>
				</li>
				
      <% else %>
				<li class="sign-in">
	        <a href="<%= new_session_url %>">Sign In</a>
				</li>
				<li class="sign-up">
	        <a href="<%= new_user_url %>">Sign Up</a>
				</li>
      <% end %>

    </nav>
  </header>

  <main class="main-content group">
		
		<span class="notice-bar">
	    <% if !!flash[:notice] %>
	      <div class="notice"><%= flash[:notice] %></div>
	    <% end %>

	    <% if !!flash[:errors] %>
	      <ul class="errors">
	        <% flash[:errors].each do |error| %>
	          <li><%= error %></li>
	        <% end %>
	      </ul>
	    <% end %>
		</span>
		
    <%= yield %>
		
	</main>
	
</body>
</html>


